/* Webfont: glamourluxury-Regular */@font-face {
    font-family: 'glamourluxury2';
    src: url('glamourluxury-Regular.eot'); /* IE9 Compat Modes */
    src: url('glamourluxury-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('glamourluxury-Regular.woff') format('woff'), /* Modern Browsers */
         url('glamourluxury-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('glamourluxury-Regular.svg#glamourluxury-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

